CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json

TutorialConfig.h

# general auto gen
.idea
*.a
*.cmake
cmake-build-debug

# executor
cmake_learning
